.program-card {
  background-color: #f2f2f2;
}

.program-card__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5em;
  text-transform: uppercase;

  margin: 0;
}

.program-card__logo {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: #68b738;
  border-radius: 50%;
}

.program-card__logo--first::after {
  content: "";
  display: block;
  position: absolute;
  height: 50px;
  width: 36px;
  background-image: url("../img/cat_sit_mobile.svg");
  top: 0;
  left: 7px;
}

.program-card__logo--second::after {
  content: "";
  display: block;
  position: absolute;
  height: 28px;
  width: 67px;
  background-image: url("/source/img/cat_walk_mobile.svg");
  top: 11px;
  left: -9.5px;
}
