.promo {
  background-image: url(/source/img/promo_cat_picture.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.promo__wrapper {
  height: 302px;
  background-color: rgba(104, 183, 56, 0.85);
}
