.workflow-card__icon {
  width: 60px;
  height: 60px;

  background-color: #68b738;
  background-repeat: no-repeat;
  background-position: center;
}

.workflow-card__icon--leaf {
  background-image: "/source/img/icon_leaf.svg";
}

.workflow-card__icon--tub {
  background-image: "/source/img/icon_tub.svg";
}

.workflow-card__icon--eat {
  background-image: "/source/img/icon_eat.svg";
}

.workflow-card__icon--alarm {
  background-image: "/source/img/icon_alarm.svg";
}
