.workflow-card {
  display: flex;
  flex-direction: row;
}

.workflow-card__icon {
  min-width: 60px;
  height: 60px;

  background-color: #68b738;
  background-repeat: no-repeat;
  background-position: center;
}

.workflow-card__icon--leaf {
  background-image: url("../img/icon_leaf.svg");
}

.workflow-card__icon--tub {
  background-image: url("../img/icon_tub.svg");
}

.workflow-card__icon--eat {
  background-image: url("../img/icon_eat.svg");
}

.workflow-card__icon--alarm {
  background-image: url("../img/icon_alarm.svg");
}

@media (min-width: @tablet-width) {
  .workflow-card {
    flex-direction: column;
    max-width: 250px;
  }

  .workflow-card__icon {
    width: 80px;
    height: 80px;
  }
}
